{% extends "base.html" %}
{%block head%}
    {{super()}}
{%endblock%}

{%block body %}
{%block navbar %}
{{super()}}
{%endblock%}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Indice</h3>
        </div>
        <ul class="list-unstyled component">
            <li><a href="">Ejemplo</a></li>
            <li><a href="">Ejemplo</a></li>

<!--        <div class="tab-content">

            <div role="tabpanel" class="tab-pane active" id="{{Puntos[0]['puntos'][0]}}">
                <p>{{Puntos[0]["puntos"][0]}}</p>
                <li><a href="">{{dTablas[1][0] }}</a></li>

             </div>

            <div role="tabpanel" class="tab-pane" id="{{Puntos[0]['puntos'][1]}}">
                <h2>{{Puntos[0]["puntos"][1]}}</h2>

             </div>
            <div role="tabpanel" class="tab-pane" id="{{Puntos[0]['puntos'][2]}}">
                <h2>{{Puntos[0]["puntos"][2]}}</h2>

             </div>
            <div role="tabpanel" class="tab-pane" id="{{Puntos[0]['puntos'][3]}}">
                <h2>{{Puntos[0]["puntos"][3]}}</h2>

             </div>
        </div> -->
        </ul>
    </nav>

<div id="content">
    <div class="row">
        <div class="col-md-2">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class=" botonEsc">
                    <i class="fas fa-align-left"></i>
                    <span>Esconder indice</span>
                    </button>
                </div>
            </nav>
        </div>
        <div class="col-md-10">

                <div class="row">
                    <form action="" method="post" class="form-inline" role="form">
                      <div class="form-group">
                        <div class="input-daterange input-group cfecha " id="datepicker cfecha">
                            <div class="form-group mb-3">
                                <input type="text" autocomplete="off" placeholder="Inicio" class="input-sm form-control" name="start" value="{{request.form.start}}"/>
                            </div>
                            <span class="input-group-addon">Inicio</span>
                            <div class="form-group mb-3">
                                <input type="text" autocomplete="off" placeholder="Fin" class="input-sm form-control" name="end" value="{{request.form.end}}"/>
                            </div>

                                <!-- <span class="input-group-addon">Fin</span> -->
                        </div>
                        <div class="form-group mb-3">
                            <select name="empresa" >
                            {%for opcion in dEmpresa[1]['empresas']%}
                                <option value="{{opcion}}">{{opcion}}</option>
                            {%endfor%}
                            </select>
                        </div>
                        <div class="form-group mb-3">
                        <input type="submit" class="botonEsc" value="Buscar" class="form-control">
                        </div>

                      </div>
                    </form>

                </div>

            <script type="text/javascript">$(function () {$('.cfecha').datepicker({language:'es',format: "yyyy-mm-dd"});});</script>
        </div>
    </div>


    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for message in messages%}
                <div class="alert alert-warning alert-dismisable" role="alert" >{{message}}</div>
            {%endfor%}
        {%endif%}
    {%endwith%}
    {%if estado == 1%}
    <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="{{Puntos[0]['puntos'][0]}}">
            <h2>{{Puntos[0]["puntos"][0]}}</h2>
            <p>Las siguientes tablas son apartir del analisis de la información de la red</p>
            <svg viewBox="0 0 8 8"><use xlink:href="#menu"></use></svg>
            <div class="row">
                <div class="col-md-6">
                    <!--{%for i in range(Puntos[0]["puntos"]|length)%}
                    {{Puntos[0]["puntos"][i]}}
                    {{i}}
                    {%endfor%} -->
                     <h2>{{dTablas[1][0]}}</h2>
                     <embed src={{grafica1|safe}} type="image/svg+xml" style="max-width:500px">
                </div>

                <div class="col-md-6">
                    <h2>info</h2>
                </div>
            </div>





        </div>

        <div role="tabpanel" class="tab-pane" id="{{Puntos[0]['puntos'][1]}}">
            <h2>{{Puntos[0]["puntos"][1]}}</h2>

         </div>
        <div role="tabpanel" class="tab-pane" id="{{Puntos[0]['puntos'][2]}}">
            <h2>{{Puntos[0]["puntos"][2]}}</h2>

         </div>
        <div role="tabpanel" class="tab-pane" id="{{Puntos[0]['puntos'][3]}}">
            <h2>{{Puntos[0]["puntos"][3]}}</h2>

         </div>
    </div>



</div>
</div>


    {%endif%}
{%endblock%}
