{% extends "base.html" %}
{%block head%}
    {{super()}}
{%endblock%}

{%block body %}
{%block navbar %}
{{super()}}
{%endblock%}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 style="margin-left:10px">{{Puntos[0]["puntos"][3]}}</h3>  <!-- titulo barra lateral -->
        </div>
        <ul class="list-unstyled component">
            <li><a href="#{{dTablas[2][1][1]}}">{{dTablas[2][1][0]}}</a></li>
            <li><a href="#{{dTablas[2][2][1]}}">{{dTablas[2][2][0]}}</a></li>
            <li><a href="#{{dTablas[2][3][1]}}">{{dTablas[2][3][0]}}</a></li>
            <li><a href="#{{dTablas[2][4][1]}}">{{dTablas[2][4][0]}}</a></li>
            <li><a href="#{{dTablas[2][5][1]}}">{{dTablas[2][5][0]}}</a></li>
            <li><a href="#{{dTablas[2][6][1]}}">{{dTablas[2][6][0]}}</a></li>


        </ul>
    </nav>

<div id="content">
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
                    <form action="" method="post" class="form-inline" role="form">
                      <div class="form-group">
                        <label for="cfecha">Filtrar: </label>
                        <div class="input-daterange input-group cfecha" id="datepicker cfecha">
                            <div class="form-group">
                                <input type="text" autocomplete="off" placeholder="Inicio" class="input-sm form-control" name="start" value="{{request.form.start}}"/>
                            </div>
                            <span class="input-group-addon">hasta</span>
                            <div class="form-group">
                                <input type="text" autocomplete="off" placeholder="Fin" class="input-sm form-control" name="end" value="{{request.form.end}}"/>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="empresa" >
                            {%for opcion in dEmpresa[1]['empresas']%}
                                <option value="{{opcion}}">{{opcion}}</option>
                            {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                        <input type="submit" class="botonEsc" value="Buscar" class="form-control">
                        </div>
                        </form>
        </div>

            <script type="text/javascript">$(function () {$('.cfecha').datepicker({language:'es',format: "yyyy-mm-dd"});});</script>
        </div>

    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for message in messages%}
            <div class="row">

              <div class="col-md-12">
                <div class="alert alert-warning alert-dismisable" role="alert" >{{message}}</div>
              </div>

            </div>

            {%endfor%}
        {%endif%}
    {%endwith%}
    {%if estado == 1%}

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-9">


        <h2>{{Puntos[0]["puntos"][3]}}</h2>
        <p>Este punto abarca los sitios que estan identificados como potencialmente fraudulentos, hay sitios que intentan engañar a el usuario para dar datos personales, contraseñas, datos de tarjetas de credito, etc.</p>
        <p>Las categorias que abarca son:</p>
        <ul>
          <li>Sitios potencialmente peligrosos</li>
          <li>Contenido adulto</li>
          <li>Sitios que representan riesgos a la seguridad</li>
          <li>Intereses personales</li>
          <li>Intereses laborales</li>
        </ul>

        <div class="row">

          <div id="{{dTablas[2][1][1]}}">
            <h2>{{dTablas[2][1][0]}}</h2>
            <h4>Web</h4>
            {%if not grafica1[0]%}
            <p>Sin informacion</p>
            {%else%}
            <table class="table table-hover">
              <thead>
                <th>Usuario</th>
                <th>IP</th>
                <th>Sitio</th>
                <th>Categoria</th>
                <th>Bandwidth</th>
              </thead>
              <tbody>

                {%for i in range(10)%}
                  {%if grafica1[i]['count'] > 0 %}
                    <tr>
                      <td>{{grafica1[i]['_id']['usuario']}}</td>
                      <td>{{grafica1[i]['_id']['ip']}}</td>
                      <td>{{grafica1[i]['_id']['Sitio']}}</td>
                      <td>{{grafica1[i]['_id']['Categoria']}}</td>
                      {%set vara = (grafica1[i]['count'])|round|int%}
                      {%if vara >1000%}
                        <td>{{vara/1000}} GB</td>
                      {%else%}
                      <td>{{vara}} MB</td>
                      {%endif%}
                    </tr>
                  {%endif%}
                {%endfor%}
              </tbody>
            </table>
            {%endif%}
          </div>

        </div>
        <div id="{{dTablas[2][2][1]}}"">
          <h2>{{dTablas[2][2][0]}}</h2>
          <h4>Web</h4>
          {%if not grafica2[0]%}
          <p>Sin información</p>
          {%else%}
          <table class="table table-hover">
            <thead>
              <th>Usuario</th>
              <th>IP</th>
              <th>Sitio</th>
              <th>Categoria</th>
              <th>Bandwidth</th>
            </thead>
            <tbody>

              {%for i in range(grafica2|length)%}
                {%if grafica2[i]['count']>0%}
                  <tr>
                    <td>{{grafica2[i]['_id']['usuario']}}</td>
                    <td>{{grafica2[i]['_id']['ip']}}</td>
                    <td>{{grafica2[i]['_id']['Sitio']}}</td>
                    <td>{{grafica2[i]['_id']['Categoria']}}</td>
                    {%set vara = (grafica2[i]['count'])|round|int%}
                    {%if vara >1000%}
                      <td>{{vara/1000}} GB</td>
                    {%else%}
                    <td>{{vara}} MB</td>
                    {%endif%}
                  </tr>
                {%endif%}
              {%endfor%}
            </tbody>
          </table>
          {%endif%}
        </div>


      <div id="{{dTablas[2][3][0]}}">
        <h2>{{dTablas[2][3][0]}}</h2>
        <h4>Web</h4>

        {%if not grafica3[0]%}
        <p>Sin información</p>
        {%else%}
        <table id="{{dTablas[2][3][1]}}" class="table table-hover">
          <thead>
            <th>Usuario</th>
            <th>IP</th>
            <th>Sitio</th>
            <th>Categoria</th>
            <th>Bandwidth</th>
          </thead>
          <tbody>

            {%for i in range(grafica3|length)%}
              {%if grafica3[i]['count']>0%}
                <tr>
                  <td>{{grafica3[i]['_id']['usuario']}}</td>
                  <td>{{grafica3[i]['_id']['ip']}}</td>
                  <td>{{grafica3[i]['_id']['Sitio']}}</td>
                  <td>{{grafica3[i]['_id']['Categoria']}}</td>
                  {%set vara = (grafica3[i]['count'])|round|int%}
                  {%if vara >1000%}
                    <td>{{vara/1000}} GB</td>
                  {%else%}
                  <td>{{vara}} MB</td>
                  {%endif%}
                </tr>
              {%endif%}
            {%endfor%}
          </tbody>
        </table>
        {%endif%}
      </div>
       <div id="{{dTablas[2][4][1]}}">
        <h2>{{dTablas[2][4][0]}}</h2>
        <h4>App</h4>

        {%if not grafica4[0]%}
        <p>Sin información</p>
        {%else%}
        <table id="{{dTablas[2][4][1]}}" class="table table-hover">
          <thead>
            <th>Usuario</th>
            <th>IP</th>
            <th>Aplicacion</th>
            <th>Categoria</th>
            <th>Bandwidth</th>
          </thead>
          <tbody>

            {%for i in range(grafica4|length)%}
              {%if grafica4[i]['count']>0%}
                <tr>
                  <td>{{grafica4[i]['_id']['usuario']}}</td>
                  <td>{{grafica4[i]['_id']['ip']}}</td>
                  <td>{{grafica4[i]['_id']['Sitio']}}</td>
                  <td>{{grafica4[i]['_id']['Categoria']}}</td>
                  {%set vara = (grafica4[i]['count'])|round|int%}
                  {%if vara >1000%}
                    <td>{{vara/1000}} GB</td>
                  {%else%}
                  <td>{{vara}} MB</td>
                  {%endif%}
                </tr>
              {%endif%}
            {%endfor%}
          </tbody>
        </table>
        {%endif%}
      </div>

      <div id="{{dTablas[2][5][1]}}">
        <h2>{{dTablas[2][5][0]}}</h2>
        <h4>Web</h4>
      {%if not grafica5[0]%}
      <p>Sin información</p>
      {%else%}
      <table id="{{dTablas[2][5][1]}}" class="table table-hover">
        <thead>
          <th>Usuario</th>
          <th>IP</th>
          <th>Sitio</th>
          <th>Categoria</th>
          <th>Bandwidth</th>
        </thead>
        <tbody>

          {%for i in range(grafica5|length)%}
            {%if grafica5[i]['count']>0%}
              <tr>
                <td>{{grafica5[i]['_id']['usuario']}}</td>
                <td>{{grafica5[i]['_id']['ip']}}</td>
                <td>{{grafica5[i]['_id']['Sitio']}}</td>
                <td>{{grafica5[i]['_id']['Categoria']}}</td>
                {%set vara = (grafica5[i]['count'])|round|int%}
                {%if vara >1000%}
                  <td>{{vara/1000}} GB</td>
                {%else%}
                <td>{{vara}} MB</td>
                {%endif%}
              </tr>
            {%endif%}
          {%endfor%}
        </tbody>
      </table>
      {%endif%}
      </div>

      <div id="{{dTablas[2][6][1]}}">
        <h2>{{dTablas[2][6][0]}}</h2>
        <h4>App</h4>

      {%if not grafica6[0]%}
      <p>Sin información</p>
      {%else%}
      <table id="{{dTablas[2][6][1]}}" class="table table-hover">
        <thead>
          <th>Usuario</th>
          <th>IP</th>
          <th>Aplicacion</th>
          <th>Categoria</th>
          <th>Bandwidth</th>
        </thead>
        <tbody>

          {%for i in range(grafica6|length)%}
            {%if grafica4[i]['count']>0%}
              <tr>
                <td>{{grafica6[i]['_id']['usuario']}}</td>
                <td>{{grafica6[i]['_id']['ip']}}</td>
                <td>{{grafica6[i]['_id']['Aplicacion']}}</td>
                <td>{{grafica6[i]['_id']['Categoria']}}</td>
                {%set vara = (grafica6[i]['count'])|round|int%}
                {%if vara >1000%}
                  <td>{{vara/1000}} GB</td>
                {%else%}
                <td>{{vara}} MB</td>
                {%endif%}
              </tr>
            {%endif%}
          {%endfor%}
        </tbody>
      </table>
      {%endif%}
      </div>



      </div>
      </div> <!-- div row -->

    </div>




</div>
</div>
    {%endif%}
{%endblock%}
