{% extends "base.html" %}
{%block head%}
    {{super()}}
{%endblock%}

{%block body %}
{%block navbar %}
{{super()}}
{%endblock%}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 style="margin-left:10px">{{Puntos[0]["puntos"][2]}}</h3>  <!-- titulo barra lateral -->
        </div>
        <ul class="list-unstyled component">
            <li><a href="#{{dTablas[1][1][1]}}">{{dTablas[1][1][0]}}</a></li>
            <li><a href="#{{dTablas[1][2][1]}}">{{dTablas[1][2][0]}}</a></li>
            <li><a href="#{{dTablas[1][3][1]}}">{{dTablas[1][3][0]}}</a></li>
            <li><a href="#{{dTablas[1][4][1]}}">{{dTablas[1][4][0]}}</a></li>

        </ul>
    </nav>

<div id="content">
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
                    <form action="" method="post" class="form-inline" role="form">
                      <div class="form-group">
                        <label for="cfecha">Filtrar: </label>
                        <div class="input-daterange input-group cfecha" id="datepicker cfecha">
                            <div class="form-group">
                                <input type="text" autocomplete="off" placeholder="Inicio" class="input-sm form-control" name="start" value="{{request.form.start}}"/>
                            </div>
                            <span class="input-group-addon">hasta</span>
                            <div class="form-group">
                                <input type="text" autocomplete="off" placeholder="Fin" class="input-sm form-control" name="end" value="{{request.form.end}}"/>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="empresa" >
                            {%for opcion in dEmpresa[1]['empresas']%}
                                <option value="{{opcion}}">{{opcion}}</option>
                            {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                        <input type="submit" class="botonEsc" value="Buscar" class="form-control">
                        </div>
                        </form>
        </div>

            <script type="text/javascript">$(function () {$('.cfecha').datepicker({language:'es',format: "yyyy-mm-dd"});});</script>
        </div>

    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for message in messages%}
            <div class="row">

              <div class="col-md-12">
                <div class="alert alert-warning alert-dismisable" role="alert" >{{message}}</div>
              </div>

            </div>

            {%endfor%}
        {%endif%}
    {%endwith%}
    {%if estado == 1%}

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-9">


        <h2>{{Puntos[0]["puntos"][2]}}</h2>
        <h4>Resumen:</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus nulla, scelerisque sed tristique at, egestas eu neque. Vivamus vitae risus at erat malesuada ultrices. Quisque vel finibus enim. Suspendisse a nisl quis lorem dapibus mollis eu a sem. Etiam lacinia lectus augue, in lobortis lacus cursus ut. Mauris vel risus tempor, pretium velit sed, lacinia orci. Aenean rhoncus luctus interdum. Vivamus non feugiat metus. In auctor pretium quam, nec </p>
        <ul>
          <li>La pagina web mas visitada fue: </li>
          <li>La aplicacion mas usada fue:</li>
          <li>La pagina web que mas ancho de banda consumio fue con </li>
          <li>La aplicacion que mas ancho de banda consumio fue con</li>
        </ul>

        <div class="row">

            <div id="{{dTablas[1][1][1]}}">
              <h2>{{dTablas[1][1][0]}}</h2>
              <h4>Web</h4>
              {%if not grafica1[0]%}
              <p>Sin informacion</p>
              {%else%}
              <table class="table table-hover">
                <thead>
                  <th>Usuario</th>
                  <th>IP</th>
                  <th>Sitio</th>
                  <th>Categoria</th>
                  <th>Bandwidth</th>
                </thead>
                <tbody>

                  {%for i in range(grafica1|length)%}
                    {%if grafica1[0] %}
                      <tr>
                        <td>{{grafica1[i]['_id']['usuario']}}</td>
                        <td>{{grafica1[i]['_id']['ip']}}</td>
                        <td>{{grafica1[i]['_id']['Sitio']}}</td>
                        <td>{{grafica1[i]['_id']['Categoria']}}</td>
                        {%set vara = (grafica1[i]['count'])|round|int%}
                        {%if vara >1000%}
                          <td>{{vara/1000}} GB</td>
                        {%else%}
                        <td>{{vara}} MB</td>
                        {%endif%}
                      </tr>
                    {%endif%}
                  {%endfor%}
                </tbody>
              </table>
              {%endif%}
            </div>

        </div>

      </div> <!-- div row -->
    </div>

</div>
</div>
    {%endif%}
{%endblock%}
