{% extends "base.html" %}
{%block head%}
    {{super()}}
{%endblock%}

{%block body %}
{%block navbar %}
{{super()}}
{%endblock%}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3 style="margin-left:10px">{{Puntos[1]["idpuntos"][1]}}</h3>  <!-- titulo barra lateral -->
        </div>
        <ul class="list-unstyled component">
            <li><a href="#{{dTablas[0][1][1]}}">{{dTablas[0][1][0]}}</a></li>
            <li><a href="#{{dTablas[0][2][1]}}">{{dTablas[0][2][0]}}</a></li>
            <li><a href="#{{dTablas[0][3][1]}}">{{dTablas[0][3][0]}}</a></li>
            <li><a href="#{{dTablas[0][4][1]}}">{{dTablas[0][4][0]}}</a></li>
            <li><a href="#{{dTablas[0][5][1]}}">{{dTablas[0][5][0]}}</a></li>
            <li><a href="#{{dTablas[0][6][1]}}">{{dTablas[0][6][0]}}</a></li>

        </ul>
    </nav>

<div id="content" style="width:100%">
    <div class="row">
      <div class="col-md-1"></div>
        <div class="col-md-10">
                    <form action="" method="post" class="form-inline" role="form">
                      <div class="form-group">
                        <label for="cfecha">Filtrar: </label>
                        <div class="input-daterange input-group cfecha" id="datepicker cfecha">
                            <div class="form-group">
                                <input type="text" autocomplete="off" placeholder="Inicio" class="input-sm form-control" name="start" value="{{request.form.start}}"/>
                            </div>
                            <span class="input-group-addon">hasta</span>
                            <div class="form-group">
                                <input type="text" autocomplete="off" placeholder="Fin" class="input-sm form-control" name="end" value="{{request.form.end}}"/>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                            <select class="form-control" name="empresa" >
                            {%for opcion in dEmpresa[1]['empresas']%}
                                <option value="{{opcion}}">{{opcion}}</option>
                            {%endfor%}
                            </select>
                        </div>
                        <div class="form-group">
                        <input type="submit" class="botonEsc" value="Buscar" class="form-control">
                        </div>
                        </form>
        </div>

            <script type="text/javascript">$(function () {$('.cfecha').datepicker({language:'es',format: "yyyy-mm-dd"});});</script>
        </div>

    {%with messages = get_flashed_messages()%}
        {%if messages%}
            {%for message in messages%}
            <div class="row">

              <div class="col-md-12">
                <div class="alert alert-warning alert-dismisable" role="alert" style="margin-top:20px">{{message}}</div>
              </div>

            </div>

            {%endfor%}
        {%endif%}
    {%endwith%}
    {%if estado == 1%}

    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-9">


        <h2>{{Puntos[0]["puntos"][1]}}</h2>
        <h4>Resumen:</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacus nulla, scelerisque sed tristique at, egestas eu neque. Vivamus vitae risus at erat malesuada ultrices. Quisque vel finibus enim. Suspendisse a nisl quis lorem dapibus mollis eu a sem. Etiam lacinia lectus augue, in lobortis lacus cursus ut. Mauris vel risus tempor, pretium velit sed, lacinia orci. Aenean rhoncus luctus interdum. Vivamus non feugiat metus. In auctor pretium quam, nec </p>
        <ul>
          <li>La pagina web mas visitada fue: {#grafica3[2]['_id']#} </li>
          <li>La aplicacion mas usada fue: {#grafica2[2]['_id']#}" con {#grafica2[2]['count']#}</li>
          </ul>

          <div class="row">

            <div id="{{dTablas[1][1]}}">
              {%if grafica1 == None%}
              <h2>Sin información</h2>
              {%else%}
              <h2>{{dTablas[1][0]}}</h2>
              <h4>Web</h4>
              <embed src={{grafica1[0]|safe}} type="image/svg+xml" style=" max-width:800px" >
                {%if grafica1[1][0]['_id'] == "Desconocido" %}
                  <p>Los sitios desconocidos tuvieron {{grafica1[1][0]['count']}} peticiones</p>
                {%else%}
                  <p>La categoria "{{grafica1[1][0]['_id']}}" tuvo {{grafica1[1][0]['count']}} peticiones.</p>
                {%endif%}
                {%if grafica1[2]['_id'] == "Desconocido" %}
                  <p>Tambien los sitios con categoria desconocida fueron los mas visitados con un numero de {{grafica1[2]['count']}} peticiones</p>
                {%else%}
                  <p>La categoria "{{grafica1[2]['_id']}}" fue la mas visitada con {{grafica1[2]['count']}} accesos.</p>
                {%endif%}
              {%endif%}
            </div>

            <div id="{{dTablas[0][2][1]}}">
              <h2>{{dTablas[0][2][0]}}</h2>
              <h4>Aplicacion</h4>
              {%if grafica2 == None%}
              {{"Nada"}}
              {%else%}
              <embed src={{grafica2[0]|safe}} type="image/svg+xml" style=" max-width:800px" >
                {%if grafica2[1][0]['_id'] == "Desconocido" %}
                  <p>Las aplicaciones desconocidas tuvieron {{grafica2[1][0]['count']}} de peticiones</p>
                {%else%}
                  <p>La aplicacion con nombre "{{grafica2[1][0]['_id']}}" tuvo {{grafica2[1][0]['count']}} de peticiones.</p>
                {%endif%}
                {%if grafica2[2]['_id'] == "Desconocido" %}
                  <p>Tambien las aplicaciones desconocidas fueron las mas usadas con un numero de {{grafica2[2]['count']}} peticiones</p>
                {%else%}
                  <p>La aplicacion "{{grafica2[2]['_id']}}" fue la mas usada con {{grafica2[2]['count']}} accesos.</p>
                {%endif%}
              {%endif%}
            </div>
            <div id="{{dTablas[0][3][1]}}">
              {%if grafica3 == None%}
              {{pass}}
              {%else%}
              <h2>{{dTablas[0][3][0]}}</h2>
              <h4>Web</h4>
              <embed src={{grafica3[0]|safe}} type="image/svg+xml" style=" max-width:800px" >
                {%if grafica3[1][0]['_id'] == "Desconocido" %}
                  <p>Los sitios web desconocidos tuvieron {{grafica3[1][0]['count']}} peticiones</p>
                {%else%}
                  <p>El sitio mas visitado fue  "{{grafica3[1][0]['_id']}}" y tuvo {{grafica3[1][0]['count']}} peticiones.</p>
                {%endif%}
                {%if grafica3[2]['_id'] == "Desconocido" %}
                  <p>Tambien los sitios web desconocidos fueron los mas visitados con un numero de {{grafica3[2]['count']}} peticiones</p>
                {%else%}
                  <p>El sitio mas visitado fue "{{grafica3[2]['_id']}}" con {{grafica3[2]['count']}} accesos.</p>
                {%endif%}
              {%endif%}
            </div>

            <div id="{{dTablas[0][4][1]}}">
              {%if not grafica4%}
              {{None}}
              {%else%}
              <h2>{{dTablas[0][4][0]}}</h2>
              <h4>Web</h4>
              <table class="table table-hover">
                <thead>
                  <th>Sitio</th>
                  <th>Bandwidth</th>
                </thead>
                <tbody>

                  {%for i in range(10)%}
                    {%if grafica4[i]['count']>0%}
                      <tr>
                        <td>{{grafica4[i]['_id']}}</td>
                        {%set vara = (grafica4[i]['count'])|round|int%}
                        {%if vara >1000%}
                          <td>{{vara/1000}} GB</td>
                        {%else%}
                        <td>{{vara}} MB</td>
                        {%endif%}
                      </tr>
                    {%endif%}
                  {%endfor%}
                </tbody>
              </table>
              {%endif%}
            </div>

            <div id="{{dTablas[0][5][1]}}">
              {%if not grafica5%}
              {{pass}}
              {%else%}
              <h2>{{dTablas[0][5][0]}}</h2>
              <h4>Aplicacion</h4>
              <table class="table table-hover">
                <thead>
                  <th>Aplicacion</th>
                  <th>Bandwidth</th>
                </thead>
                <tbody>

                  {%for i in range(10)%}
                    {%if grafica5[i]['conteo']>0%}
                      <tr>
                        <td>{{grafica5[i]['_id']}}</td>
                        {%set vara = (grafica5[i]['conteo'])|round|int%}
                        {%if vara >1000%}
                          <td>{{vara/1000}} GB</td>
                        {%else%}
                        <td>{{vara}} MB</td>
                        {%endif%}
                      </tr>
                    {%endif%}
                  {%endfor%}
                </tbody>
              </table>
              {%endif%}
            </div>

            <div id="{{dTablas[0][6][1]}}">
              {%if not grafica6%}
              {{pass}}
              {%else%}
              <h2>{{dTablas[0][6][0]}}</h2>
              <h4>Aplicacion</h4>
              <table class="table table-hover">
                <thead>
                  <th>Usuario</th>
                  <th>IP</th>
                  <th>Bandwidth</th>
                </thead>
                <tbody>

                  {%for i in range(1,11)%}
                    {%if grafica6[i]['conteo']>0%}
                      <tr>
                        <td>{{grafica6[i]['_id']['usuario']}} </td>
                        <td>{{grafica6[i]['_id']['ip']}}</td>
                        {%set vara = (grafica6[i]['conteo'])|round|int%}
                        {%if vara >1000%}
                          <td>{{vara/1000}} GB</td>
                        {%else%}
                        <td>{{vara}} MB</td>
                        {%endif%}
                      </tr>
                    {%endif%}
                  {%endfor%}
                </tbody>
              </table>
              {%endif%}
            </div>

          </div> <!-- div container -->

      </div>

    </div>




</div>
</div>


    {%endif%}
{%endblock%}
