<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
  <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
         Bootstrap CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="C:/Users/asalinas/PycharmProjects/flask/proyecto/primerp/primerp/FlaskApp/static/own.css" >

    <title></title>
  </head>
  <body>
    <div class="wrapper" display:block;>

        <div class="row"> <!-- caratula -->
          <div class="col-xs-1">
          </div>
          <div class="col-xs-10">
            <h1>Reporte Productivity Guru</h1>
            <h3 class="text-right">HA-RNT FG100D</h4>
            <h3 class="text-right">Elaborado para: Area de seguridad</h4>
            <br><br><br>
            <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\static\Logos\realnet.png" style="width:850px; height:650;" alt="">
            <div class="row" id="salto" style="page-break-before:always;">
              <h3 class="text-center">Fecha: 2019-06-26</h3>
              <h3 class="text-center">Periodo: 2019-06-26 - 2019-07-26  </h4>
            </div>


          </div>

        </div>



    <p id="salto"> </p>


    <div class="row"><!-- Tabla de contenidos -->
      <div class="col-xs-1">

        <br>
      </div>
      <div class="col-xs-10">
        <div class="row" id="salto" style="page-break-before:always;">
          <h1>Tabla de contenidos.</h1>
          <ul class="list-unstyled component">
            
              <h4><a href="#Analisis">- Analisis</a></h4>
              <br>

            
              <h4><a href="#Productividad">- Productividad</a></h4>
              <br>

            
              <h4><a href="#Riesgos_legales">- Riesgos legales</a></h4>
              <br>

            
              <h4><a href="#Fraudes">- Fraudes</a></h4>
              <br>

            
              <h4><a href="#Robo_de_informacion">- Robo de informacion</a></h4>
              <br>

            
              <h4><a href="#Lealtad">- Lealtad</a></h4>
              <br>

            
              <h4><a href="#Evasion">- Evasion</a></h4>
              <br>

            
              <h4><a href="#Ancho_de_banda">- Ancho de banda</a></h4>
              <br>

            
              <h4><a href="#Revision_de_politicas">- Revision de politicas</a></h4>
              <br>

            
              <h4><a href="#Reportes">- Reportes</a></h4>
              <br>

            
          </ul>
        </div>
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Analisis"><!-- Analisis-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Analisis</h1>
        <p>Productivity Gurú, es un sistema con el que apoyamos a las empresas a ser más productivas, eficientes y a disminuir gastos operativos para aumentar la rentabilidad de la empresa.
Es en base a la experiencia que RealNet brinda en sus servicios de asesoramiento y soluciones por medio de recursos TI, asesorando y administrando las redes de sus clientes con tecnologías de vanguardia que resulten confiables, económicas y flexibles para enfrentarse a los retos del mercado actual.
El objetivo principal de este reporte es, mostrar el comportamiento de los usuarios en internet de la empresa RealNet. </p>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Productividad"><!-- Productividad -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Productividad</h1>
        <p>Hola</p>
        <div class="row">
          <p>[{'_id': 'r2---sn-uvu5a2a5t-hxmes.gvt1.com', 'count': 19020279, 'conteo': 53808.4775390625}, {'_id': 'au.download.windowsupdate.com', 'count': 26466, 'conteo': 47152.0517578125}, {'_id': 'tlu.dl.delivery.mp.microsoft.com', 'count': 48328, 'conteo': 11133.365234375}, {'_id': 'lngaltamira.com', 'count': 260829, 'conteo': 10996.7119140625}, {'_id': 'outlook.office365.com', 'count': 1352214, 'conteo': 8913.193359375}, {'_id': 'dmd.metaservices.microsoft.com', 'count': 1596072, 'conteo': 3228.66015625}, {'_id': 'outlook.office.com', 'count': 2454887, 'conteo': 2397.3505859375}, {'_id': 'www.tnl.com.mx', 'count': 24084, 'conteo': 1523.140625}, {'_id': 'www.banxico.org.mx', 'count': 44827, 'conteo': 978.9306640625}, {'_id': 'www.anterior.banxico.org.mx', 'count': 93011, 'conteo': 887.033203125}]</p>
          <p>Imagen 1</p>
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\pd1.png" alt="">
          <p>Imagen 2</p>
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\pd2.png" alt="">

        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Riesgos_legales"><!-- Riesgos legales -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Riesgos legales</h1>
        <p>Hola</p>
        <div class="row">
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\tabla.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Fraudes"><!-- Fraudes -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Fraudes</h1>
        <p>Hola</p>
        <div class="row">
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\tabla.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Robo_de_informacion"><!-- Robo de informacion-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Robo de informacion</h1>
        <p>Hola</p>
        <div class="row">
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\tabla.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Lealtad"><!-- Lealtad -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Lealtad</h1>
        <p>Hola</p>
        <div class="row">
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\tabla.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Evasion"><!-- Evasion-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Evasion</h1>
        <p>Hola</p>
        <div class="row">
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\tabla.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Ancho_de_banda"><!-- Ancho de banda -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Ancho de banda</h1>
        <p>Hola</p>
        <div class="row">
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\tabla.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="Revision_de_politicas"><!-- Revision de politicas -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Revision de politicas</h1>
        <p>Hola</p>
        <div class="row">
          <img src="C:\Users\asalinas\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\tabla.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" ><!-- Reportes -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1 id="Reportes">Reportes</h1>
        <p>Hola</p>
        <div class="row">
        </div>


      </div>
    </div>




    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>