<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
         Bootstrap CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="C:/Users/asalinas/Documents/PycharmProjects/flask/proyecto/primerp/primerp/FlaskApp/static/reportes.css" >

    <title></title>
  </head>
  <body>
    <div class="wrapper" display:block;>

        <div class="row"> <!-- caratula -->
          <div class="col-xs-1">
          </div>
          <div class="col-xs-10">
            <h1>Reporte Productivity Guru</h1>
            <h3 class="text-right">TLA HA 1</h4>
            <h3 class="text-right">Elaborado para: Juan Saldaña</h4>
            <br><br><br>
            <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\static\Logos\tla.jpg" style="width:750px; height:550; margin-bottom:" alt="">
            <div class="row" id="salto" style="page-break-before:always;">
              <br><br>
              <h3 class="text-center">Fecha: 2019-08-12</h3>
              <h3 class="text-center">Periodo: 2019-07-12 - 2019-08-12  </h4>
            </div>


          </div>

        </div>



    <p id="salto"> </p>


    <div class="row"><!-- Tabla de contenidos -->
      <div class="col-xs-1">

        <br>
      </div>
      <div class="col-xs-10">
        <div class="row" id="salto" style="page-break-before:always;">
          <h1>Tabla de contenidos.</h1>
          <ul class="list-unstyled component">
<br>
              <h4><a href="#intro">Introducción</a></h4> <br>
              <h4><a href="#bd1">Consumo de ancho de banda</a></h4> <br>
              <h4><a href="#bd2">Ancho de banda por usuario</a></h4> <br>
              <h4><a href="#bd4"></a>Audio y video</h4> <br>
              <h4><a href="#bd5"></a>Ancho de banda Audio y video</h4> <br>
              <h4><a href="#bd6"></a>Sitios web</h4><br>
              <h4><a href="#bd7">Bloqueos</a></h4><br>
              <h4><a href="#bd8">Virus</a></h4><br>
              <h4><a href="#bd9">Conclusiones</a></h4><br>

          </ul>
        </div>
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="intro"><!--Introducción-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Introducción</h1>
        <p>Productivity Guru, es un servicio con el que apoyamos a las empresas a ser mas productivas, eficientes y a disminuir gastos operativos para aumentar la rentabilidad de la empresa.
        <br> Es en base a la experiencia que RealNet brinda en sus servicios de asesoramiento y soluciones por medio de recursos TI, asesorando y administrando las redes de sus clientes con tecnologias de vanguardia que resulten confiables, economicas y flexibles para enfrentarse a los retos del mercado actual.
        <br> El objetivo principal de este reporte es, mostrar el comportamiento de los usuarios en internet de la empresa TLA HA 1. </p>
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="bd1"><!--Bandwidth-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Consumo de ancho de banda</h1>
        <p>El ancho de banda es la cantidad de datos que los usuarios utilizan mientras se comunican a través de internet.  Esto nos permite conocer el grado de utilización de la red en relación con cada usuario</p>
        <p>En la siguiente grafica se muestra el consumo de ancho de banda por categoria de aplicaciones</p>
        <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\rep1.png" alt="">
        <br>
        <br>
        <p>Las categorias con mayor consumo de ancho de banda son de la categoria <b>Information Technology </b> con un consumo de   <b>175.86GB</b> , seguida de la categoria <b>Content Servers </b>, y <b>Business </b>  </p>
      </div>
    </div>

    

    <p id="salto"> </p>
    <div class="row" id="bd2"><!-- tabla bandwidth por usuario-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Ancho de banda por usuario</h1>
        <p>La siguiente tabla muestra a los usuarios que más ancho de banda utilizaron, en primer lugar se encuentra
          el usuario <b>No disponible </b> con 
           la ip <b>172.16.20.52</b> y un total de   <b>50.67GB</b>. 
           Seguido por
            <b>No disponible </b> con
           la ip <b>10.90.246.252</b> con un total de   <b>40.40GB</b>. , y
           
           la ip <b>10.90.246.80</b> con un total de   <b>23.97GB</b>. </p>

           <p>A continuacion se muestra la informacion mas detallada: </p>
           <br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">IP</th>
                <th scope="col">Host</th>
                <th scope="col">Enviado</th>
                <th scope="col">Recibido</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>No disponible </td>
                <td>172.16.20.52</td>
                <td>officecdn.microsoft.com.edgesuite.net</td>
                <td>  60.56MB</td>
                <td>   50.61GB</td>
                <td>   50.67GB</td>

              </tr>
              
              <tr>
                <th scope="row">2</th>
                <td>No disponible </td>
                <td>10.90.246.252</td>
                <td>download.windowsupdate.com</td>
                <td>  27.79MB</td>
                <td>   40.37GB</td>
                <td>   40.40GB</td>

              </tr>
              
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td>10.90.246.80</td>
                <td>3.au.download.windowsupdate.com</td>
                <td>  8.18MB</td>
                <td>   23.96GB</td>
                <td>   23.97GB</td>

              </tr>
              
              <tr>
                <th scope="row">4</th>
                <td>No disponible </td>
                <td>172.16.20.52</td>
                <td>tlu.dl.delivery.mp.microsoft.com</td>
                <td>  16.61MB</td>
                <td>   18.85GB</td>
                <td>   18.86GB</td>

              </tr>
              
              <tr>
                <th scope="row">5</th>
                <td></td>
                <td>172.16.20.26</td>
                <td>download.windowsupdate.com</td>
                <td>  41.88MB</td>
                <td>   7.57GB</td>
                <td>   7.61GB</td>

              </tr>
              
              <tr>
                <th scope="row">6</th>
                <td>No disponible </td>
                <td>10.90.246.104</td>
                <td>feeds.feedburner.com</td>
                <td>  6.24MB</td>
                <td>   4.42GB</td>
                <td>   4.42GB</td>

              </tr>
              
              <tr>
                <th scope="row">7</th>
                <td></td>
                <td>10.88.246.136</td>
                <td>feeds.feedburner.com</td>
                <td>  5.3MB</td>
                <td>   3.76GB</td>
                <td>   3.76GB</td>

              </tr>
              
              <tr>
                <th scope="row">8</th>
                <td>No disponible </td>
                <td>10.90.246.80</td>
                <td>download.windowsupdate.com</td>
                <td>  20.52MB</td>
                <td>   2.85GB</td>
                <td>   2.87GB</td>

              </tr>
              
              <tr>
                <th scope="row">9</th>
                <td>No disponible </td>
                <td>10.90.246.54</td>
                <td>download.windowsupdate.com</td>
                <td>  47.25MB</td>
                <td>   2.48GB</td>
                <td>   2.53GB</td>

              </tr>
              
              <tr>
                <th scope="row">10</th>
                <td>No disponible </td>
                <td>10.90.246.125</td>
                <td>download.windowsupdate.com</td>
                <td>  23.32MB</td>
                <td>   2.44GB</td>
                <td>   2.47GB</td>

              </tr>
              

            </tbody>

          </table>
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="bd2"><!-- tabla bandwidth por usuario-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Ancho de banda WIFI</h1>
        <p>La siguiente tabla muestra a los usuarios que más ancho de banda utilizaron, siendo
           <b>evelyn.cruz</b> el usuario que más ancho de banda consumio,con 
           la ip <b>10.88.245.154</b> y un total de  <b>4.2378515625GB</b>.  por medio de la red <b>TLA-Office</b>
           Seguido por
            <b>evelyn.cruz</b> con
           la ip <b>10.88.245.122</b> con un total de  <b>1.88748046875GB</b>.  por medio de la red <b>TLA-Office</b>, y
            <b>guillermo.arteaga</b> con
           la ip <b>10.88.245.108</b> con un total de  <b>1.7312109375GB</b>. </b> por medio de la red <b>TLA-Office</b>.</p>
           <p>A continuacion se muestra la informacion mas detallada: </p>
           <br>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Usuario</th>
                <th scope="col">IP</th>
                <th scope="col">SSID</th>
                <th scope="col">Enviado</th>
                <th scope="col">Recibido</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>evelyn.cruz</td>
                <td>10.88.245.154</td>
                <td>TLA-Office</td>
                <td>  729.63MB</td>
                <td>   3.53GB</td>
                <td>   4.24GB</td>

              </tr>
              
              <tr>
                <th scope="row">2</th>
                <td>julian.lam</td>
                <td>10.88.245.122</td>
                <td>TLA-Office</td>
                <td>  626.05MB</td>
                <td>   1.28GB</td>
                <td>   1.89GB</td>

              </tr>
              
              <tr>
                <th scope="row">3</th>
                <td>guillermo.arteaga</td>
                <td>10.88.245.108</td>
                <td>TLA-Office</td>
                <td>  473.86MB</td>
                <td>   1.27GB</td>
                <td>   1.73GB</td>

              </tr>
              
              <tr>
                <th scope="row">4</th>
                <td>omar.aguilera</td>
                <td>10.88.245.153</td>
                <td>TLA-Office</td>
                <td>  341.3MB</td>
                <td>  793.19MB</td>
                <td>   1.11GB</td>

              </tr>
              
              <tr>
                <th scope="row">5</th>
                <td>alfredo.lara</td>
                <td>10.88.245.52</td>
                <td>TLA-Office</td>
                <td>  40.83MB</td>
                <td>   1.01GB</td>
                <td>   1.05GB</td>

              </tr>
              
              <tr>
                <th scope="row">6</th>
                <td>genaro.banda</td>
                <td>10.88.245.82</td>
                <td>TLA-Office</td>
                <td>  188.6MB</td>
                <td>  866.78MB</td>
                <td>   1.03GB</td>

              </tr>
              
              <tr>
                <th scope="row">7</th>
                <td>alheli.zavala</td>
                <td>192.168.5.20</td>
                <td>TLA-Invitados</td>
                <td>  29.39MB</td>
                <td>  847.41MB</td>
                <td>  876.8MB</td>

              </tr>
              
              <tr>
                <th scope="row">8</th>
                <td>juan.saldana</td>
                <td>10.88.245.57</td>
                <td>TLA-Office</td>
                <td>  105.53MB</td>
                <td>  424.4MB</td>
                <td>  529.93MB</td>

              </tr>
              
              <tr>
                <th scope="row">9</th>
                <td>Alfredo.lara</td>
                <td>192.168.5.140</td>
                <td>TLA-Invitados</td>
                <td>  22.82MB</td>
                <td>  409.16MB</td>
                <td>  431.98MB</td>

              </tr>
              
              <tr>
                <th scope="row">10</th>
                <td>lucero.melo</td>
                <td>10.88.245.140</td>
                <td>TLA-Office</td>
                <td>  95.19MB</td>
                <td>  315.77MB</td>
                <td>  410.96MB</td>

              </tr>
              

            </tbody>

          </table>
      </div>
    </div>

      <p id="salto"> </p>
      <div class="row" id="bd3"><!--Aplicaciones más utilizadas bandwidth-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Aplicaciones más utilizadas</h1>
          <p>La siguiente gráfica muestra las aplicaciones más utilizadas y el ancho de banda consumido.</p>
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\rep4.png" alt="">
          <br>
          <p>Las aplicaciones con mayor consumo de ancho de banda son <b>Gmail</b> con un consumo de   <b>685.40GB</b> , seguida de la categoria <b>HTTPS.BROWSER</b>, y <b>Microsoft.Portal</b></p>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" ><!--tabla apps bandwidth-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h4>A continuación se da un mejor detalle de la información anterior</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Aplicación</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Uso de datos</th>

                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>Gmail</td>
                  <td>Email</td>
                  <td>   20.72GB </td>
                  <td>   664.68GB </td>
                  <td>   685.40GB </td>

                </tr>
                
                <tr>
                  <th scope="row">2</th>
                  <td>HTTPS.BROWSER</td>
                  <td>Web.Client</td>
                  <td>   177.74GB </td>
                  <td>   302.05GB </td>
                  <td>   479.79GB </td>

                </tr>
                
                <tr>
                  <th scope="row">3</th>
                  <td>Microsoft.Portal</td>
                  <td>Collaboration</td>
                  <td>   2.79GB </td>
                  <td>   101.26GB </td>
                  <td>   104.05GB </td>

                </tr>
                
                <tr>
                  <th scope="row">4</th>
                  <td>YouTube</td>
                  <td>Video/Audio</td>
                  <td>   1.16GB </td>
                  <td>   42.03GB </td>
                  <td>   43.19GB </td>

                </tr>
                
                <tr>
                  <th scope="row">5</th>
                  <td>DTLS</td>
                  <td>Network.Service</td>
                  <td>   33.80GB </td>
                  <td>   5.00GB </td>
                  <td>   38.80GB </td>

                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <td>Google.Services</td>
                  <td>General.Interest</td>
                  <td>   15.97GB </td>
                  <td>   15.77GB </td>
                  <td>   31.74GB </td>

                </tr>
                
                <tr>
                  <th scope="row">7</th>
                  <td>GoToAssist</td>
                  <td>Remote.Access</td>
                  <td>   15.09GB </td>
                  <td>   16.54GB </td>
                  <td>   31.63GB </td>

                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <td>Citrix.Services</td>
                  <td>Collaboration</td>
                  <td>   2.37GB </td>
                  <td>   28.79GB </td>
                  <td>   31.16GB </td>

                </tr>
                
                <tr>
                  <th scope="row">9</th>
                  <td>Fortiguard.Search</td>
                  <td>Cloud.IT</td>
                  <td>   19.49GB </td>
                  <td>   3.98GB </td>
                  <td>   23.47GB </td>

                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <td>HTTP.BROWSER</td>
                  <td>Web.Client</td>
                  <td>  428.55MB</td>
                  <td>   22.06GB </td>
                  <td>   22.48GB </td>

                </tr>
                
                <tr>
                  <th scope="row">11</th>
                  <td>Zoom</td>
                  <td>Collaboration</td>
                  <td>   11.99GB </td>
                  <td>   7.35GB </td>
                  <td>   19.34GB </td>

                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" id="bd5"><!--Aplicaciones Audio/Video-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Aplicaciones más utilizadas Video/Audio</h1>
          <p>El monitoreo de aplicaciones de Video o Audio tiene como intención aumentar la productividad, ya que el uso de aplicaciones de este tipo afecta en el rendimiento de los usuarios como de la red.</p>
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\rep5.png" alt="">
          <br>
          <p>Las aplicaciones con mayor consumo de ancho de banda de la categoria <b>Video/Audio</b> siendo <b>YouTube</b>
            la primera con un consumo de  <b>43.190556640625GB</b>. , seguida de la categoria
            <b>Spotify</b>, y <b>Netflix</b></p>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" ><!--tabla-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h4>A continuación se da un mejor detalle de la información anterior</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Aplicación</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Uso de datos</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>YouTube</td>
                  <td>Video/Audio</td>
                  <td>   1.16GB</td>
                  <td>   42.03GB</td>
                  <td>   43.19GB</td>

                </tr>
                
                <tr>
                  <th scope="row">2</th>
                  <td>Spotify</td>
                  <td>Video/Audio</td>
                  <td>   1.28GB</td>
                  <td>   3.08GB</td>
                  <td>   4.36GB</td>

                </tr>
                
                <tr>
                  <th scope="row">3</th>
                  <td>Netflix</td>
                  <td>Video/Audio</td>
                  <td>  95.54MB</td>
                  <td>   4.03GB</td>
                  <td>   4.12GB</td>

                </tr>
                
                <tr>
                  <th scope="row">4</th>
                  <td>Twitch</td>
                  <td>Video/Audio</td>
                  <td>  56.35MB</td>
                  <td>   2.21GB</td>
                  <td>   2.26GB</td>

                </tr>
                
                <tr>
                  <th scope="row">5</th>
                  <td>Dailymotion</td>
                  <td>Video/Audio</td>
                  <td>  1.16MB</td>
                  <td>  15.12MB</td>
                  <td>  16.28MB</td>

                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <td>Amazon.Video</td>
                  <td>Video/Audio</td>
                  <td>  1.08MB</td>
                  <td>  9.03MB</td>
                  <td>  10.12MB</td>

                </tr>
                
                <tr>
                  <th scope="row">7</th>
                  <td>HTTP.Video</td>
                  <td>Video/Audio</td>
                  <td>  0.11MB</td>
                  <td>  8.07MB</td>
                  <td>  8.18MB</td>

                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <td>IMDB</td>
                  <td>Video/Audio</td>
                  <td>  0.13MB</td>
                  <td>  2.16MB</td>
                  <td>  2.3MB</td>

                </tr>
                
                <tr>
                  <th scope="row">9</th>
                  <td>Brightcove</td>
                  <td>Video/Audio</td>
                  <td>  1.23MB</td>
                  <td>  0.68MB</td>
                  <td>  1.91MB</td>

                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <td>Ooyala</td>
                  <td>Video/Audio</td>
                  <td>  0.15MB</td>
                  <td>  1.52MB</td>
                  <td>  1.67MB</td>

                </tr>
                
                <tr>
                  <th scope="row">11</th>
                  <td>Vimeo</td>
                  <td>Video/Audio</td>
                  <td>  0.05MB</td>
                  <td>  0.24MB</td>
                  <td>  0.3MB</td>

                </tr>
                
                <tr>
                  <th scope="row">12</th>
                  <td>Flowplayer</td>
                  <td>Video/Audio</td>
                  <td>  0.01MB</td>
                  <td>  0.13MB</td>
                  <td>  0.13MB</td>

                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" id="bd5"><!--Aplicaciones Audio/Video usuarios-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Aplicaciones más utilizadas Video/Audio usuario</h1>
          <p>En esta gráfica analizamos el trafico de los usuarios del tipo Audio y video, esto nos ayuda a saber de forma clara cual de los usuarios esta haciendo uso de aplicaciones relacionadas a audio y video.</p>
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\rep6.png" alt="">
          <br>
          <p>La siguiente tabla muestra a los usuarios que más ancho de banda utilizaron, siendo
            
             la ip <b>172.16.20.64</b> y un total de   <b>14.90GB</b>  accediendo a  <b>YouTube</b>
             . Seguido por
             
             la ip <b>10.90.246.112</b> con un total de   <b>7.45GB</b>  accediendo a  <b>YouTube</b>, y
             
             la ip <b>172.16.20.48</b> con un total de   <b>3.86GB</b>  accediendo a  <b>YouTube</b>.</p>

        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" ><!--tabla-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h4>A continuación se da un mejor detalle de la información anterior</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">IP</th>
                  <th scope="col">Aplicación</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Uso de datos</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  398.76MB</td>
                  <td>   14.51GB</td>
                  <td>   14.90GB</td>

                </tr>
                
                <tr>
                  <th scope="row">2</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  165.38MB</td>
                  <td>   7.28GB</td>
                  <td>   7.45GB</td>

                </tr>
                
                <tr>
                  <th scope="row">3</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  77.42MB</td>
                  <td>   3.79GB</td>
                  <td>   3.86GB</td>

                </tr>
                
                <tr>
                  <th scope="row">4</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  112.66MB</td>
                  <td>   2.99GB</td>
                  <td>   3.10GB</td>

                </tr>
                
                <tr>
                  <th scope="row">5</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>Twitch</td>
                  <td>  56.35MB</td>
                  <td>   2.21GB</td>
                  <td>   2.26GB</td>

                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  51.22MB</td>
                  <td>   2.18GB</td>
                  <td>   2.23GB</td>

                </tr>
                
                <tr>
                  <th scope="row">7</th>
                  <td></td>
                  <td> </td>
                  <td>Netflix</td>
                  <td>  50.14MB</td>
                  <td>   2.17GB</td>
                  <td>   2.22GB</td>

                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>Netflix</td>
                  <td>  44.25MB</td>
                  <td>   1.84GB</td>
                  <td>   1.88GB</td>

                </tr>
                
                <tr>
                  <th scope="row">9</th>
                  <td></td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  34.21MB</td>
                  <td>   1.63GB</td>
                  <td>   1.66GB</td>

                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  91.58MB</td>
                  <td>   1.56GB</td>
                  <td>   1.65GB</td>

                </tr>
                
                <tr>
                  <th scope="row">11</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  24.98MB</td>
                  <td>   1.32GB</td>
                  <td>   1.34GB</td>

                </tr>
                
                <tr>
                  <th scope="row">12</th>
                  <td>No disponible </td>
                  <td> </td>
                  <td>YouTube</td>
                  <td>  51.95MB</td>
                  <td>  1014.23MB</td>
                  <td>   1.04GB</td>

                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" id="bd2"><!-- tabla bandwidth por usuario-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Ancho de banda WIFI Video/Audio</h1>
          <p>La siguiente tabla muestra a los Usuarios que más ancho de banda utilizaron por medio de WIFI y referente a categorias de <b>Video/Audio</b>, siendo
             <b>guillermo.arteaga</b> el Usuario que más ancho de banda consumio,con 
             la IP <b></b> y un total de  <b>107.22MB</b>. por medio de la red <b>TLA-Office</b>
             Seguido por
              <b>guillermo.arteaga</b> con
             la IP <b></b> con un total de  <b>13.96MB</b>. por medio de la red <b>TLA-Office</b>, y
              <b>luvin.esparza</b> con
             la IP <b></b> con un total de  <b>4.54MB</b>.</b> por medio de la red <b>TLA-Office</b>.</p>
             <p>A continuacion se muestra la informacion mas detallada: </p>
             <br>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">IP</th>
                  <th scope="col">SSID</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Uso de datos</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>guillermo.arteaga</td>
                  <td>10.88.245.108</td>
                  <td>TLA-Office</td>
                  <td>  27.83MB</td>
                  <td>  79.39MB</td>
                  <td>  107.22MB</td>

                </tr>
                
                <tr>
                  <th scope="row">2</th>
                  <td>juan.saldana</td>
                  <td>10.88.245.57</td>
                  <td>TLA-Office</td>
                  <td>  0.88MB</td>
                  <td>  13.08MB</td>
                  <td>  13.96MB</td>

                </tr>
                
                <tr>
                  <th scope="row">3</th>
                  <td>luvin.esparza</td>
                  <td>10.88.245.142</td>
                  <td>TLA-Office</td>
                  <td>  1.62MB</td>
                  <td>  2.92MB</td>
                  <td>  4.54MB</td>

                </tr>
                
                <tr>
                  <th scope="row">4</th>
                  <td>eduardo.carranza</td>
                  <td>192.168.5.58</td>
                  <td>TLA-Invitados</td>
                  <td>  0.1MB</td>
                  <td>  0.17MB</td>
                  <td>  0.27MB</td>

                </tr>
                
                <tr>
                  <th scope="row">5</th>
                  <td>Alfredo.lara</td>
                  <td>192.168.5.140</td>
                  <td>TLA-Invitados</td>
                  <td>  0.04MB</td>
                  <td>  0.05MB</td>
                  <td>  0.09MB</td>

                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" id="bd4"><!--Sitios web permitidos-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Sitios web permitidos</h1>
          <p>La siguiente tabla muestra la distribución de las categorías web referentes a la navegación web del periodo. Se puede observar que, en el transcurso del periodo, los usuarios manejaron una tendencia principal hacia sitios catalogados de la siguiente manera:

            </p>
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\rep8.png" alt="">
          <br>
          <p>El sitio web que más accesos tuvo fue <b>download.windowsupdate.com</b> con un consumo de   <b>60.45GB</b> , seguido de  <b>officecdn.microsoft.com.edgesuite.net</b>, y <b>3.au.download.windowsupdate.com</b></p>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" ><!--tabla apps bandwidth-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h4>A continuación se da un mejor detalle de la información anterior</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Hostname</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Uso de datos</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>download.windowsupdate.com</td>
                  <td>  240.66MB</td>
                  <td>   60.22GB</td>
                  <td>   60.45GB</td>

                </tr>
                
                <tr>
                  <th scope="row">2</th>
                  <td>officecdn.microsoft.com.edgesuite.net</td>
                  <td>  60.56MB</td>
                  <td>   50.61GB</td>
                  <td>   50.67GB</td>

                </tr>
                
                <tr>
                  <th scope="row">3</th>
                  <td>3.au.download.windowsupdate.com</td>
                  <td>  8.22MB</td>
                  <td>   23.97GB</td>
                  <td>   23.97GB</td>

                </tr>
                
                <tr>
                  <th scope="row">4</th>
                  <td>tlu.dl.delivery.mp.microsoft.com</td>
                  <td>  17.91MB</td>
                  <td>   21.38GB</td>
                  <td>   21.39GB</td>

                </tr>
                
                <tr>
                  <th scope="row">5</th>
                  <td>feeds.feedburner.com</td>
                  <td>  12.96MB</td>
                  <td>   9.17GB</td>
                  <td>   9.18GB</td>

                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <td>r4---sn-9gv7ene6.gvt1.com</td>
                  <td>  19.61MB</td>
                  <td>   2.42GB</td>
                  <td>   2.44GB</td>

                </tr>
                
                <tr>
                  <th scope="row">7</th>
                  <td>ardownload.adobe.com</td>
                  <td>  0.17MB</td>
                  <td>   2.17GB</td>
                  <td>   2.17GB</td>

                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <td>au.download.windowsupdate.com</td>
                  <td>  1.49MB</td>
                  <td>   1.31GB</td>
                  <td>   1.31GB</td>

                </tr>
                
                <tr>
                  <th scope="row">9</th>
                  <td>i.scdn.co</td>
                  <td>  3.93MB</td>
                  <td>  1020.68MB</td>
                  <td>   1.00GB</td>

                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <td>mc.corel.com</td>
                  <td>  79.41MB</td>
                  <td>  908.15MB</td>
                  <td>  987.56MB</td>

                </tr>
                
                <tr>
                  <th scope="row">11</th>
                  <td>otn.samsungcloudcdn.com</td>
                  <td>  0.27MB</td>
                  <td>  856.53MB</td>
                  <td>  856.8MB</td>

                </tr>
                
                <tr>
                  <th scope="row">12</th>
                  <td>a110avoddashs3ww-a.akamaihd.net</td>
                  <td>  1.21MB</td>
                  <td>  477.27MB</td>
                  <td>  478.49MB</td>

                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" ><!--Categorias web bloqueados-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Categorias bloqueadas</h1>
          <p>En la tabla se muestra las categorías web que fueron bloqueadas durante el periodo debido a intentos de acceso no autorizados. </p>

          <h4>A continuación se da un mejor detalle de la información anterior</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Hostname</th>
                  <th scope="col">Peticiones</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>Search Engines and Portals</td>
                  <td>335</td>
                </tr>
                
                <tr>
                  <th scope="row">2</th>
                  <td>Information and Computer Security</td>
                  <td>75</td>
                </tr>
                
                <tr>
                  <th scope="row">3</th>
                  <td>Malicious Websites</td>
                  <td>60</td>
                </tr>
                
                <tr>
                  <th scope="row">4</th>
                  <td>Games</td>
                  <td>31</td>
                </tr>
                
                <tr>
                  <th scope="row">5</th>
                  <td>Web-based Applications</td>
                  <td>28</td>
                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <td>Proxy Avoidance</td>
                  <td>17</td>
                </tr>
                
                <tr>
                  <th scope="row">7</th>
                  <td>Content Servers</td>
                  <td>11</td>
                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <td>Reference</td>
                  <td>8</td>
                </tr>
                
                <tr>
                  <th scope="row">9</th>
                  <td>Information Technology</td>
                  <td>7</td>
                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <td>Education</td>
                  <td>4</td>
                </tr>
                
                <tr>
                  <th scope="row">11</th>
                  <td>Spam URLs</td>
                  <td>4</td>
                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" ><!--Sitios web bloqueados-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Sitios web bloqueados</h1>
          <p>En la tabla se muestra los sitios web más bloqueados debido a intentos de acceso no autorizados</p>

          <h4>A continuación se da un mejor detalle de la información anterior</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Hostname</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Peticiones</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>login.live.com</td>
                  <td>Search Engines and Portals</td>
                  <td>413103</td>
                </tr>
                
                <tr>
                  <th scope="row">2</th>
                  <td>beacons.gvt2.com</td>
                  <td>Search Engines and Portals</td>
                  <td>313352</td>
                </tr>
                
                <tr>
                  <th scope="row">3</th>
                  <td>beacons.gcp.gvt2.com</td>
                  <td>Search Engines and Portals</td>
                  <td>301308</td>
                </tr>
                
                <tr>
                  <th scope="row">4</th>
                  <td>inference.location.live.net</td>
                  <td>Search Engines and Portals</td>
                  <td>179431</td>
                </tr>
                
                <tr>
                  <th scope="row">5</th>
                  <td>nexus.officeapps.live.com</td>
                  <td>Web-based Applications</td>
                  <td>73650</td>
                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <td>accounts.youtube.com</td>
                  <td></td>
                  <td>73170</td>
                </tr>
                
                <tr>
                  <th scope="row">7</th>
                  <td>odc.officeapps.live.com</td>
                  <td>Web-based Applications</td>
                  <td>50388</td>
                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <td>google.com</td>
                  <td>Search Engines and Portals</td>
                  <td>49955</td>
                </tr>
                
                <tr>
                  <th scope="row">9</th>
                  <td>beacons3.gvt2.com</td>
                  <td>Content Servers</td>
                  <td>42491</td>
                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <td>cdn.odc.officeapps.live.com</td>
                  <td>Web-based Applications</td>
                  <td>32891</td>
                </tr>
                
                <tr>
                  <th scope="row">11</th>
                  <td>encrypted-tbn0.gstatic.com</td>
                  <td>Search Engines and Portals</td>
                  <td>30202</td>
                </tr>
                
                <tr>
                  <th scope="row">12</th>
                  <td>beacons4.gvt2.com</td>
                  <td>Search Engines and Portals</td>
                  <td>29009</td>
                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" ><!--Sitios web bloqueados-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Usuarios bloqueados</h1>
          <p>En la tabla se muestra los usuarios que fueron bloqueados, la IP del equipo y el consumo de ancho de banda que utilizaron en datos enviados y recibidos. </p>
          <h4>A continuación se da un mejor detalle de la información anterior</h4>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">IP</th>
                  <th scope="col">Categorias</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Uso de datos</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td></td>
                  <td>10.88.246.155</td>
                  <td>Search Engines and Portals</td>
                  <td>  0.44MB</td>
                  <td>  0.29MB</td>
                  <td>  0.73MB</td>

                </tr>
                
                <tr>
                  <th scope="row">2</th>
                  <td></td>
                  <td>10.88.246.174</td>
                  <td>Search Engines and Portals</td>
                  <td>  0.29MB</td>
                  <td>  0.27MB</td>
                  <td>  0.55MB</td>

                </tr>
                
                <tr>
                  <th scope="row">3</th>
                  <td></td>
                  <td>10.88.246.174</td>
                  <td>Web-based Applications</td>
                  <td>  0.01MB</td>
                  <td>  0.09MB</td>
                  <td>  0.1MB</td>

                </tr>
                
                <tr>
                  <th scope="row">4</th>
                  <td></td>
                  <td>10.88.246.155</td>
                  <td>Web-based Applications</td>
                  <td>  0.01MB</td>
                  <td>  0.06MB</td>
                  <td>  0.07MB</td>

                </tr>
                
                <tr>
                  <th scope="row">5</th>
                  <td></td>
                  <td>10.88.246.174</td>
                  <td></td>
                  <td>  0.01MB</td>
                  <td>  0.04MB</td>
                  <td>  0.05MB</td>

                </tr>
                
                <tr>
                  <th scope="row">6</th>
                  <td></td>
                  <td>10.88.246.155</td>
                  <td>Education</td>
                  <td>  0.01MB</td>
                  <td>  0.02MB</td>
                  <td>  0.03MB</td>

                </tr>
                
                <tr>
                  <th scope="row">7</th>
                  <td></td>
                  <td>10.88.246.155</td>
                  <td>Reference</td>
                  <td>  0.0MB</td>
                  <td>  0.02MB</td>
                  <td>  0.03MB</td>

                </tr>
                
                <tr>
                  <th scope="row">8</th>
                  <td></td>
                  <td>10.88.246.174</td>
                  <td>Reference</td>
                  <td>  0.0MB</td>
                  <td>  0.02MB</td>
                  <td>  0.03MB</td>

                </tr>
                
                <tr>
                  <th scope="row">9</th>
                  <td></td>
                  <td>10.88.246.155</td>
                  <td></td>
                  <td>  0.01MB</td>
                  <td>  0.02MB</td>
                  <td>  0.02MB</td>

                </tr>
                
                <tr>
                  <th scope="row">10</th>
                  <td></td>
                  <td>10.88.246.155</td>
                  <td>Content Servers</td>
                  <td>  0.01MB</td>
                  <td>  0.01MB</td>
                  <td>  0.02MB</td>

                </tr>
                
                <tr>
                  <th scope="row">11</th>
                  <td></td>
                  <td>10.88.246.174</td>
                  <td>Content Servers</td>
                  <td>  0.01MB</td>
                  <td>  0.01MB</td>
                  <td>  0.02MB</td>

                </tr>
                
                <tr>
                  <th scope="row">12</th>
                  <td>melissa.martinez</td>
                  <td>10.88.245.65</td>
                  <td>Malicious Websites</td>
                  <td>  0.01MB</td>
                  <td>  0.0MB</td>
                  <td>  0.01MB</td>

                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" id="bd8"><!--Proxy-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Aplicaciones Proxy</h1>
          <p>La siguiente tabla muestra los intentos de utilizar proxy. Un proxy es un equipo informático que hace de intermediario entre las conexiones de un cliente y un servidor de destino, filtrando todos los paquetes entre ambos. </p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Aplicación</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>Proxy.HTTP</td>
                  <td>Proxy</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" id="bd8"><!--Proxy-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Aplicaciones Proxy</h1>
          <p>La siguiente tabla muestra los intentos de utilizar proxy. Un proxy es un equipo informático que hace de intermediario entre las conexiones de un cliente y un servidor de destino, filtrando todos los paquetes entre ambos. </p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Aplicación</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>Proxy.HTTP</td>
                  <td>Proxy</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" id="bd8"><!--Redes sociales-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Redes sociales</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In in cursus nibh. Ut aliquet, enim et faucibus posuere, velit justo interdum turpis, et commodo purus arcu sit amet dolor. Mauris justo orci, fermentum ac justo et, hendrerit aliquet dui. Nam neque ante, feugiat venenatis dignissim nec, pharetra a leo. Nam semper porta ipsum, non efficitur dolor venenatis eget. Phasellus ante enim, ultricies sed sodales sed, ornare auctor nisi. Nunc porta lectus et lectus tincidunt fermentum in ac nisl</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Aplicación</th>
                  <th scope="col">Enviado</th>
                  <th scope="col">Recibido</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                
                <tr>
                  <th scope="row">1</th>
                  <td>Proxy.HTTP</td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" id="bd9"><!--Amenazas-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Amenazas</h1>
          <p>Se han detectado equipos infectados con malware dentro de la red interna de TLA HA 1 la intrusión identificada es de tipo Virus, en las siguientes tablas se muestra información detallada</p>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Virus</th>
                  <th scope="col">Fecha</th>
                  <th scope="col">IP</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Accion</th>
                  <th scope="col">Incidencias</th>
                </tr>
              </thead>
              <tbody>
                
              </tbody>
            </table>
        </div>
      </div>

      <p id="salto"> </p>
      <div class="row" ><!--Virus-->
        <div class="col-xs-1"></div>
        <div class="col-xs-10">
          <h1>Conclusiones</h1>
          <p>En el reporte de este mes las políticas establecidas con anterioridad están mejorando la productividad dentro de la empresa, así como la navegación segura en internet permitiendo que los usuarios entren a los sitios que tienen
permisos</p>
            <table class="table">

              <tbody>
                <tr><td>

                  
                  <p>Se detectaron 0 virus. Tu red esta protegida.</p>
                  
                </td></tr>
                <tr><td>
                  
                  <p>Se detectaron accesos a sitios con la categoria <b>Audio/Video</b>, contacta al equipo de Productivity Guru para solucionarlo. </p>
                  
                </td></tr>
                <tr><td>
                  
                  <p>Se estan bloqueando los sitios adecuadamente</p>
                  
                </td></tr>

              </tbody>
            </table>
        </div>
      </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>