<!DOCTYPE html><html lang="en"><head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"><title>Bootstrap Example</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      </head>
      <body>
        <p>Hola  </p>
        <p>Uno de los beneficios de nuestro servicio administrado Productivity Gurú
          es el monitoreo diario de su equipo, el dia de hoy 2019-06-19, a las 15:51:41 se detecto el uso de la aplicación Proxy.HTTP, nuestro analisis arrojo que es una aplicación Proxy. Esta aplicación sirve para evadir la seguridad de la red.</p>
        <p>A continuacion se muestra la información más detallada:</p>
        <table class="table">
          <thead>
            <tr>
              <th>Usuario</th>
              <th>IP</th>
              <th>Aplicación</th>
              <th>Tipo</th>
              <th>Bytes recibidos</th>
              <th>Bytes enviados</th>
            </tr>
          </thead>
          <tbody>
            <th scope="row">No disponible </th>
            <td>192.168.20.10</td>
            <td>Proxy.HTTP</td>
            <td>Proxy</td>
            <td>None</td>
            <td>None</td>
          </tbody>
        </table>
        <p><p>Gracias a nuestro servicio esta página fue bloqueada exitosamente.</p>
                <p>Cualquier duda o comentario estamos a sus ordenes</p>
                <p>Saludos cordiales </p>
      <div class="container">
      </div>
      </body>
      </html>

    
