<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8" />
  <!--  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
         Bootstrap CSS -->

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="C:/Users/asalinas/Documents/PycharmProjects/flask/proyecto/primerp/primerp/FlaskApp/static/reportes.css" >

    <title></title>
  </head>
  <body>
    <div class="wrapper" display:block;>

        <div class="row"> <!-- caratula -->
          <div class="col-xs-1">
          </div>
          <div class="col-xs-10">
            <h1>Reporte Productivity Guru</h1>
            <h3 class="text-right">{{dempresa['devname']}}</h3>
            <h3 class="text-right">Elaborado para: {{dempresa['encargado']}}</h3>
            <br><br><br>
            <img src="{{dempresa['logo']}}" style="width:850px; height:650; margin-bottom:" alt="">
            <div class="row" id="salto" style="page-break-before:always;">
              <h3 class="text-center">Fecha: {{diah}}</h3>
              <h3 class="text-center">Periodo: {{diah}} - {{diam}}  </h3>
            </div>


          </div>

        </div>



    <p id="salto"> </p>


    <div class="row"><!-- Tabla de contenidos -->
      <div class="col-xs-1">

        <br>
      </div>
      <div class="col-xs-10">
        <div class="row" id="salto" style="page-break-before:always;">
          <h1>Tabla de contenidos.</h1>
          <ul class="list-unstyled component">
              <h4><a href="#intro">Introducción</a></h4>
              <br>
              <h4><a href="#introduccion">Introducción</a></h4>
              <h4><a href="#">Consumo de ancho de banda</a></h4>
              <h4><a href="#"></a></h4>
              <h4><a href="#"></a></h4>
              <h4><a href="#"></a></h4>
              <h4><a href="#"></a></h4>

          </ul>
        </div>
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="intro"><!--Introducción-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Introducción</h1>
        <p>Productivity Guru, es un sistema con el que apoyamos a las empresas a ser mas productivas, eficientes y a disminuir gastos operativos para aumentar la rentabilidad de la empresa.
        <br> Es en base a la experiencia que RealNet brinda en sus servicios de asesoramiento y soluciones por medio de recursos TI, asesorando y administrando las redes de sus clientes con tecnologias de vanguardia que resulten confiables, economicas y flexibles para enfrentarse a los retos del mercado actual.
        <br> El objetivo principal de este reporte es, mostrar el comportamiento de los usuarios en internet de la empresa {{dempresa['nombre']}}. </p>
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][0]}}"><!--Analisis-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>{{puntos[0]['puntos'][0]}}</h1>
        <p>La siguiente informacion nos da un panorama general de nuestra red, abarcando los siguientes puntos:</p>

        <ul>
          <li>Categorias web mas utilizadas</li>
          <li>Sitios web mas visitados</li>
          <li>Aplicaciones mas utilizadas</li>
          <li>Usuarios con mayor consumo de datos</li>
          <li>Detecciones de virus o malware</li>

        </ul>
        <p>Esto nos ayuda a saber la informacion más importante de nuestra red, de manera rápida y concisa</p>
      </div>
    </div>

    <p id="salto"> </p>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
            {%if an1|length > 0%}

            <h1>Categorias web </h1>

            <p>Esta gráfica nos muestra las categorias web con mayor consumo de datos siendo <b>{{an1[0]['_id']}}</b>  la mayor, seguido de <b>{{an1[1]['_id']}}</b> y <b>{{an1[2]['_id']}}</b></p>
            <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\an1.png" alt="">

            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Categoria</th>
                  <th scope="col">Uso de datos</th>
                </tr>
              </thead>
              <tbody>

                {%for element in an1%}
                <tr>
                  <th scope="row">{{element}}</th>
                  <td>{{element['_id']}}</td>
                  <td>{{element['total']}}MB </td>
                </tr>
                  {%endfor%}
              </tbody>

            </table>
            {%else%}
            <p>Tu red esta protegida</p>
            {%endif%}
            </div>
          </div>


          <p id="salto"> </p>
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-10">
            <h1>Aplicaciones </h1>
            {%if an2|length > 0%}
            <p>Esta gráfica nos muestra las aplicaciones con mayor consumo de datos, siendo <b>{{an2[0]['_id']}}</b> la mayor, seguida por <b>{{an2[1]['_id']}}</b> y <b>{{an2[2]['_id']}}</b></p>
            <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\an2.png" alt="">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Aplicacion</th>
                  <th scope="col">Uso de datos</th>
                </tr>
              </thead>
              <tbody>
                {%for i in range(10)%}
                <tr>
                  <th scope="row">{{i+1}}</th>
                  <td>{{an2[i]['_id']}}</td>
                  <td>{{an2[i]['total']}}MB </td>
                </tr>
                  {%endfor%}
              </tbody>
            </table>
            {%else%}
            <h4>No se encontraron aplicaciones que comprometan la seguridad de nuestra red, por lo que nuestra red esta segura</h4>
            {%endif%}
            </div>
          </div>

    <p id="salto"> </p>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>Usuarios</h1>
        {%if an3|length > 0%}
        <p>Estos son los usuarios que mayor consumo de datos hicieron de forma general,
          {%if not an3[0]['_id']['user'] == 'No disponible'%}
          el usuario {{an3[0]['_id']['user']}}, con
          {%endif%}
          la ip {{an3[0]['_id']['ip']}} fue quien mas tráfico tuvo, con un uso de {{an3[0]['total']}}MB
        </p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Usuario</th>
              <th scope="col">IP</th>
              <th scope="col">Uso de datos</th>
            </tr>
          </thead>
          <tbody>
            {%for i in range(10)%}
            <tr>
              <th scope="row">{{i+1}}</th>
              <td>{{an3[i]['_id']['user']}}</td>
              <td>{{an3[i]['_id']['ip']}}</td>
              <td>{{an3[i]['total']}}MB </td>
            </tr>
              {%endfor%}
          </tbody>
        </table>
        {%else%}
        <h4>No se encontraron usuarios</h4>
        {%endif%}
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
      {%if an4|length > 0%}

      <h1>Virus</h1>
      <p>Estos son los virus que se detectaron en la red.</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Usuario</th>
            <th scope="col">IP</th>
            <th scope="col">Fecha</th>
            <th scope="col">Hora</th>
            <th scope="col">Virus</th>
            <th scope="col">Conteo</th>

          </tr>
        </thead>
        <tbody>
          {%for i in range(an4|length)%}
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{an4[i]['_id']['usuario']}}</td>
            <td>{{an4[i]['_id']['ip']}}</td>
            <td>{{an4[i]['_id']['fecha']}}</td>
            <td>{{an4[i]['_id']['hora']}}</td>
            <td>{{an4[i]['_id']['virus']}}</td>
            <td>{{an4[i]['_id']['count']}} </td>
          </tr>
            {%endfor%}
        </tbody>
      </table>
      {%else%}
      <p>Tu red esta protegida</p>
      {%endif%}
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][1]}}"><!-- Productividad -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">


        <h1>{{puntos[0]['puntos'][1]}}</h1>
        <p>Este punto de seguridad va enfocado a la productividad de los usuarios, hay paginas y aplicaciones que distraen a los empleados y el tener identificado cuales son los principales distractores nos ayudan a tener un mejor control sobre los recursos.</p>
        <p>Categorias que abarca:</p>
        <ul>
          <li>Contenido adulto.</li>
          <li>Contenido con alto consumo de ancho de banda</li>
          <li>Intereses personales</li>
        </ul>
      </div>
    </div>

              <p id="salto"> </p>
                    <div class="row">
                      <div class="col-xs-1"></div>
                      <div class="col-xs-10">
                      <h1>Contenido adulto </h1>
                      {%if pd1|length > 0%}
                      <p>Esta gráfica nos muestra las categorias web referentes a:</p>
                        <ul>
                          <li>Citas por internet</li>
                          <li>Apuestas</li>
                          <li>Pornografia</li>
                        </ul>
                        <p>con mayor consumo de datos siendo <b>{{pd1[0]['_id']}}</b>  la mayor, seguido de <b>{{pd1[1]['_id']}}</b> y <b>{{pd1[2]['_id']}}</b></p>
                      <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\pd1.png" alt="">

                      <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Hostname</th>
                            <th scope="col">Uso de datos</th>
                          </tr>
                        </thead>
                        <tbody>
                          {%for i in range(10)%}
                          <tr>
                            <th scope="row">{{i+1}}</th>
                            <td>{{pd1[i]['_id']}}</td>
                            <td>{{pd1[i]['total']}}MB </td>
                          </tr>
                            {%endfor%}
                        </tbody>

                      </table>
                      {%else%}
                      <h4>No se encontro ninguna incidencia, por lo cual tu red esta protegida</h4>
                      {%endif%}
                      </div>
                    </div>

                    {%if pd1|length > 0%}
                    <p id="salto"> </p>
                          <div class="row">
                            <div class="col-xs-1"></div>
                            <div class="col-xs-10">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col">Hostname</th>
                                  <th scope="col">Uso de datos</th>
                                </tr>
                              </thead>
                              <tbody>
                                {%for i in range(10)%}
                                <tr>
                                  <th scope="row">{{i+1}}</th>
                                  <td>{{pd1[i]['_id']}}</td>
                                  <td>{{pd1[i]['total']}}MB </td>
                                </tr>
                                  {%endfor%}
                              </tbody>
                            </table>
                            </div>
                          </div>
                          {%endif%}

                      {%if pd1u|length > 0%}
                      <p id="salto"> </p>
                            <div class="row">
                              <div class="col-xs-1"></div>
                              <div class="col-xs-10">
                              <table class="table">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Usuario</th>
                                    <th scope="col">IP</th>
                                    <th scope="col">Uso de datos</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  {%for i in range(10)%}
                                  <tr>
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{pd1u[i]['_id']['user']}}</td>
                                    <td>{{pd1u[i]['_id']['ip']}}</td>
                                    <td>{{pd1u[i]['total']}}MB </td>
                                  </tr>
                                    {%endfor%}
                                </tbody>
                              </table>
                              </div>
                            </div>
                            {%endif%}

                            <p id="salto"> </p>
                                  <div class="row">
                                    <div class="col-xs-1"></div>
                                    <div class="col-xs-10">
                                    <h1>Uso de banda ancha </h1>
                                    {%if pd2|length > 0%}
                                    <p>Esta gráfica nos muestra las categorias web referentes a:</p>
                                      <ul>
                                        <li>Intercambio de archivos</li>
                                        <li>Descarga de software</li>
                                        <li>Radio, television y telefonia por internet</li>
                                        <li>Streaming</li>
                                      </ul>
                                      <p>con mayor consumo de datos siendo <b>{{pd2[0]['_id']}}</b>  la mayor, seguido de <b>{{pd2[1]['_id']}}</b> y <b>{{pd2[2]['_id']}}</b></p>
                                    <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\pd2.png" alt="">
                                    {%else%}
                                    <h4>No se encontro ninguna incidencia, por lo cual tu red esta protegida</h4>
                                    {%endif%}
                                    </div>
                                  </div>

                                  {%if pd2|length > 0%}
                                  <p id="salto"> </p>
                                        <div class="row">
                                          <div class="col-xs-1"></div>
                                          <div class="col-xs-10">
                                          <table class="table">
                                            <thead>
                                              <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Hostname</th>
                                                <th scope="col">Uso de datos</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              {%for i in range(10)%}
                                              <tr>
                                                <th scope="row">{{i+1}}</th>
                                                <td>{{pd2[i]['_id']}}</td>
                                                <td>{{pd2[i]['total']}}MB </td>
                                              </tr>
                                                {%endfor%}
                                            </tbody>
                                          </table>
                                          </div>
                                        </div>
                                        {%endif%}

                                    {%if pd2u|length > 0%}
                                    <p id="salto"> </p>
                                          <div class="row">
                                            <div class="col-xs-1"></div>
                                            <div class="col-xs-10">
                                            <table class="table">
                                              <thead>
                                                <tr>
                                                  <th scope="col">#</th>
                                                  <th scope="col">Usuario</th>
                                                  <th scope="col">IP</th>
                                                  <th scope="col">Uso de datos</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                {%for i in range(10)%}
                                                <tr>
                                                  <th scope="row">{{i+1}}</th>
                                                  <td>{{pd2u[i]['_id']['user']}}</td>
                                                  <td>{{pd2u[i]['_id']['ip']}}</td>
                                                  <td>{{pd2u[i]['total']}}MB </td>
                                                </tr>
                                                  {%endfor%}
                                              </tbody>
                                            </table>
                                            </div>
                                          </div>
                                          {%endif%}

                                          <p id="salto"> </p>
                                                <div class="row">
                                                  <div class="col-xs-1"></div>
                                                  <div class="col-xs-10">
                                                  <h1>Intereses personales </h1>
                                                  {%if pd3|length > 0%}
                                                  <p>Esta gráfica nos muestra los sitios con intereses personales, entre los temas mas relevantes podemos encontrar los siguientes:</p>
                                                    <ul>
                                                      <li>Juegos</li>
                                                      <li>Entretenimiento</li>
                                                      <li>Noticias</li>
                                                      <li>Deportes</li>
                                                      <li>Correo y chat web</li>
                                                    </ul>
                                                    <p>con mayor consumo de datos siendo <b>{{pd3[0]['_id']}}</b>  la mayor, seguido de <b>{{pd3[1]['_id']}}</b> y <b>{{pd3[2]['_id']}}</b></p>
                                                  <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\pd3.png" alt="">

                                                  {%else%}
                                                  <h4>No se encontro ninguna incidencia, por lo cual tu red esta protegida</h4>
                                                  {%endif%}
                                                  </div>
                                                </div>

                                                {%if pd3|length > 0%}
                                                <p id="salto"> </p>
                                                      <div class="row">
                                                        <div class="col-xs-1"></div>
                                                        <div class="col-xs-10">
                                                        <table class="table">
                                                          <thead>
                                                            <tr>
                                                              <th scope="col">#</th>
                                                              <th scope="col">Hostname</th>
                                                              <th scope="col">Uso de datos</th>
                                                            </tr>
                                                          </thead>
                                                          <tbody>
                                                            {%for i in range(10)%}
                                                            <tr>
                                                              <th scope="row">{{i+1}}</th>
                                                              <td>{{pd3[i]['_id']}}</td>
                                                              <td>{{pd3[i]['total']}}MB </td>
                                                            </tr>
                                                              {%endfor%}
                                                          </tbody>
                                                        </table>
                                                        </div>
                                                      </div>
                                                      {%endif%}

                                                  {%if pd3u|length > 0%}
                                                  <p id="salto"> </p>
                                                        <div class="row">
                                                          <div class="col-xs-1"></div>
                                                          <div class="col-xs-10">
                                                          <table class="table">
                                                            <thead>
                                                              <tr>
                                                                <th scope="col">#</th>
                                                                <th scope="col">Usuario</th>
                                                                <th scope="col">IP</th>
                                                                <th scope="col">Uso de datos</th>
                                                              </tr>
                                                            </thead>
                                                            <tbody>
                                                              {%for i in range(10)%}
                                                              <tr>
                                                                <th scope="row">{{i+1}}</th>
                                                                <td>{{pd3u[i]['_id']['user']}}</td>
                                                                <td>{{pd3u[i]['_id']['ip']}}</td>
                                                                <td>{{pd3u[i]['total']}}MB </td>
                                                              </tr>
                                                                {%endfor%}
                                                            </tbody>
                                                          </table>
                                                          </div>
                                                        </div>
                                                        {%endif%}




    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][2]}}"><!-- Riesgos legales -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">

        <h1>{{puntos[0]['puntos'][2]}}</h1>
        <p>En este punto se cubren sitios que pueden meter al usuario o a la empresa en problemas de ambito legal, esto traeria consecuencias reales.</p>
        <p>Este punto abarca las siguientes categorias: </p>
        <ul>
          <li>Sitios potencialmente peligrosos</li>
          <li>Contenido adulto</li>
          <li>Riesgos de seguridad</li>
        </ul>
      </div>
    </div>


    <p id="salto"> </p>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
      <h1> </h1>
      {%if rl1|length > 0%}
      <p>Esta gráfica nos muestra los sitios web con mayor consumo de datos, siendo <b>{{an2[0]['_id']}}</b> la mayor, seguida por <b>{{an2[1]['_id']}}</b> y <b>{{an2[2]['_id']}}</b></p>

      <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\salidaReporte\archivos\tablas\an2.png" alt="">

      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Aplicacion</th>
            <th scope="col">Uso de datos</th>
          </tr>
        </thead>
        <tbody>
          {%for i in range(10)%}
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{an2[i]['_id']}}</td>
            <td>{{an2[i]['total']}}MB </td>
          </tr>
            {%endfor%}
        </tbody>
      </table>
      {%else%}
      <p>No hay registros.</p>
      {%endif%}
      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][3]}}"><!-- Fraudes -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>{{puntos[0]['puntos'][3]}}</h1>
        <p>Este punto abarca los sitios que estan identificados como potencialmente fraudulentos, hay sitios que intentan engañar a el usuario para dar datos personales, contraseñas, datos de tarjetas de credito, etc.</p>
        <p>Las categorias que abarca son:</p>
        <ul>
          <li>Sitios potencialmente peligrosos</li>
          <li>Contenido adulto</li>
          <li>Sitios que representan riesgos a la seguridad</li>
          <li>Intereses personales</li>
          <li>Intereses laborales</li>
        </ul>

        <div class="row">
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\an1.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][4]}}"><!-- Robo de informacion-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>{{puntos[0]['puntos'][4]}}</h1>
        <p>En este punto se pone enfasis de el robo de la informacion, hay distintas formas de poder robarse lo que esta transmitiendose a traves de la red y en este punto se muestran posibles vulnerabilidades</p>
        <ul>
          <li>Sitios potencialmente peligrosos </li>
          <li>Sitios con consumo de banda ancha alto </li>
          <li>Posibles vulnerabilidades</li>
          <li>Intereses personales</li>
          <li>Intereses laborales</li>
        </ul>
        <div class="row">
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\an1.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][5]}}"><!-- Lealtad -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>{{puntos[0]['puntos'][5]}}</h1>
        <p>Este punto se enfoca en la lealtad de los empleados, esto a partir de la busqueda de empleo, analizando a que sitios de busqueda de empleo esta accediendo o si esta usando el correo mas de la cuenta.</p>
        <p>Categorias que abarca</p>
        <ul>
          <li>Busqueda de empleo</li>
          <li>LinkedIn</li>
          <li>Intereses laborales</li>
          <li>Correo</li>
        </ul>
        <div class="row">
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\an1.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][6]}}"><!-- Evasion-->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>{{puntos[0]['puntos'][6]}}</h1>
        <p>En este punto se abarca la evasion de la seguridad de la red, utilizando proxy o softwares especializados. Aqui podemos ver si han intentado utilizar alguna de estas herramientas.</p>
        <p>Categorias que abarca</p>
        <ul>
          <li>Sitios potencialmente peligrosos</li>
          <li>Proxy</li>
          <li>Software especializado</li>
          <li>Posibles vulnerabilidades</li>
        </ul>

        <div class="row">
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\an1.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][7]}}"><!-- Ancho de banda -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>{{puntos[0]['puntos'][7]}}</h1>
        <p>En este punto se abarcan las aplicaciones y sitios que utilizan la red de forma masiva, esto puede causar que la red se sature y se vuelva lenta. Por ello es necesario identificar de manera correcta los sitios o paginas que saturen nuestra red.</p>
        <p>Categorias que abarca:</p>
        <ul>
          <li>Intercambio de archivos y almacenamiento</li>
          <li>Multimedia(Audio, video y radio por internet)</li>
          <li>Streaming</li>
          <li>P2P</li>
          <li>Redes sociales</li>
        </ul>
        <div class="row">
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\an1.png" alt="">
        </div>


      </div>
    </div>

    <p id="salto"> </p>
    <div class="row" id="{{puntos[1]['idpuntos'][8]}}"><!-- Revision de politicas -->
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <h1>{{puntos[0]['puntos'][8]}}</h1>
        <p>En este punto se abarca el cumplimiento de politicas de proteccion de datos, nos enfocamos en proteger que no haya fugas de informacion por medio de virus o ataques a los usuarios.</p>

        <div class="row">
          <img src="C:\Users\asalinas\Documents\PycharmProjects\flask\proyecto\primerp\primerp\FlaskApp\templates\puntos\imagenes\an1.png" alt="">
        </div>


      </div>
    </div>





    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
